# Defaults file for avicontroller service used by /usr/sbin/avicontroller

# Set common variables
LOGFILE="/var/log/avinetworks/controller.log"
CIDFILE="/var/run/avicontroller.cid"
DEV_NAME="{{ con_dev_name }}"
DOCKER_RUN_PARAMS="{{ con_docker_run_params }}"
