[Unit]
Description=AVICONTROLLER
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/bin/docker kill avicontroller
ExecStartPre=-/usr/bin/docker rm -f avicontroller
ExecStartPre=/usr/bin/docker run --name=avicontroller {{ ports_list_string }} -d --privileged {{ env_variables_string }} {{ mounts_string }} {{ con_image }}
ExecStart=/usr/bin/docker wait avicontroller
ExecStop=-/usr/bin/docker stop avicontroller
ExecStop=-/sbin/ifconfig {{ dev_name }}:1 down
ExecStopPost=-/usr/bin/docker kill avicontroller
ExecStopPost=-/usr/bin/docker rm -f avicontroller

[Install]
WantedBy=multi-user.target
