#!/bin/bash

# Set common variables
container=avicontroller
service_desc="Avi Controller"
docker_exec=/usr/bin/docker
logfile="/var/log/${container}.log"
cidfile="/var/run/${container}.cid"
image_name="avinetworks/controller"
dev_name="{{ dev_name }}"
docker_run_params="{{ docker_run_params }}"

write_log() {
  echo $1 2>&1 | tee -a ${logfile}
}

container_running() {
  docker ps -f name=${container} | grep -q ${container}
}

container_exists() {
  docker ps -a -f name=${container} | grep -q ${container}
}

start_container() {
  write_log "[`date`] Starting the ${container} container"
  /usr/bin/docker run ${docker_run_params}
  if [ $? -eq 0 ]; then
    write_log "[`date`] Service ${container} running..."
  else
    write_log "[`date`] Failed to start the ${container} container"
    exit 1
  fi
}

stop_container() {
  /usr/bin/docker stop -t 60 ${container}
  if [ $? -eq 0 ]; then
    write_log "[`date`] Stopped the ${container} container"
  else
    exit 1
  fi
}

remove_container() {
  write_log "[`date`] Removing existing ${container} container"
  /usr/bin/docker rm -f ${container}
  if [ $? -eq 0 ]; then
    write_log "[`date`] Removed existing ${container} container"
  else
    write_log "[`date`] Failed to remove existing ${container} container"
  fi
}

prestart() {
  # Clean up any running or existing avicontroller containers
  write_log "[`date`] Performing ${container} pre-start step."
  if container_running && container_exists; then
    write_log "[`date`] Service ${container} is already running."
  elif ! container_running && container_exists; then
    write_log "[`date`] Container ${container} already exists, but not running. This can be caused by an
      improper shutdown, or service crash. Performing cleanup"
    remove_container
    start_container
  else
    start_container
  fi
}

start() {
  prestart
  /usr/bin/docker wait ${container}
}

stop() {
  # Stopping the docker process if running
  if container_running; then
    write_log "[`date`] Service ${container} stopping..."
    stop_container
  else
    write_log "[`date`] Service ${container} already stopped"
  fi
  poststop
}

poststop() {
  if $(ip addr | grep -q ${dev_name}:avivip); then
    /bin/bash -c "ip addr del $(ip addr | grep ${dev_name}:avivip | awk '{print $2}') dev ${dev_name}"
    if [ $? -eq 0 ]; then
      write_log "[`date`] Successfuly removed the cluster vip interface."
    fi
  elif $(ip addr | grep -q ${dev_name}:1); then
    /bin/bash -c "ip addr del $(ip addr | grep ${dev_name}:1 | awk '{print $2}') dev ${dev_name}"
    if [ $? -eq 0 ]; then
      write_log "[`date`] Successfuly removed the cluster vip interface."
    fi
  fi
  if container_exists; then
    remove_container
  fi
}

restart() {
  stop
  start
}

reload() {
  restart
}

status() {
  if container_running; then
    echo "${container} running..."
  else
    echo "${container} stopped"
  fi
}

case "$1" in
  start|stop|status|restart|reload)
    $1
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart|reload}"
    exit 2
esac

exit $?
